/*the div that houses the floating card */
.stack-top{
    width: 35%;
    height: 97%;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    transition: 1s;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    transform: rotate(calc(var(--r) * 1deg));
    z-index: 9;
    margin-left: 7em;
    -webkit-transform: rotate(calc(var(--r) * 1deg));
    -moz-transform: rotate(calc(var(--r) * 1deg));
    -ms-transform: rotate(calc(var(--r) * 1deg));
    -o-transform: rotate(calc(var(--r) * 1deg));
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;  
  }

  /*css for the contents of the floating card*/
.card span {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    font-size: 2em;
  }
  
  .card .info {
    font-weight: 1em;
    color: white;
    display: block;
    text-align: center;
    font-size: 1em;
    margin: 1em;
  }
  
  .card .img {
    width: 9.8em;
    height: 9.8em;
    background: white;
    border-radius: 15px;
    margin: auto;
  }
  
  .card .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  
  .card a {
    color: white;
    transition: .4s ease-in-out;
  }
  
  .card a:hover {
    color: red;
  }
  
  .card button {
    padding: 0.8em 1.7em;
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
  }
  
  .card button:hover {
    background: red;
    color: white;
    cursor: pointer;
  }

