/*css for right box that contains the about me*/
#rbox{
    width: 65%;
    height:100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  
  #rboxdiv{
    display: flex;
    flex-direction: row;
    float: left;
    gap: 1em;
  }
  
  /* about me changes to red when hovring over the div*/
  #abtmehead {
    transition: color 0.4s ease; 
  }