html,body{
    background-color:#121212;
    font-family: Helvetica, sans-serif;
    color:#ffffff;
    height: 100%;
    margin-left:5px;
    margin-right: 5px;
    margin-top: 0.25em;
    scroll-behavior: smooth;
}


  
  
 




  